  <html><head><meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    
    
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- CSS-->
    <link rel="stylesheet" type="text/css" href="../static/main.css">
    <!-- Font-icon css-->
    <link rel="stylesheet" type="text/css" href="../static/font-awesome.min.css">
    <title>fei</title>
    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries-->
    <!--if lt IE 9
    script(src='https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js')
    script(src='https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js')
    -->
  </head>
<body class="sidebar-mini fixed  pace-done">
  <aside class="main-sidebar hidden-print">
        <div class="slimScrollDiv" style="position: relative; overflow: hidden; width: auto; height: 612px;"><section class="sidebar" style="overflow: hidden; width: auto; height: 612px;">
          <div class="user-panel">
            <div class="pull-left image"><img class="img-circle" src="../static/48.jpg" alt="User Image"></div>
            <div class="pull-left info">
              <p>John Doe</p>
              <p class="designation">Frontend Developer</p>
            </div>
          </div>
          <!-- Sidebar Menu-->
          <ul class="sidebar-menu">
            <li class=""><a href="#"><i class="fa fa-dashboard"></i><span>Dashboard</span></a></li>
            <li class="treeview"><a href="#"><i class="fa fa-laptop"></i><span>UI Elements</span><i class="fa fa-angle-right"></i></a>
              <ul class="treeview-menu">
                <li><a href="#"><i class="fa fa-circle-o"></i> Bootstrap Elements</a></li>
                <li><a href="#" target="_blank"><i class="fa fa-circle-o"></i> Font Icons</a></li>
                <li><a href="#"><i class="fa fa-circle-o"></i> Cards</a></li>
                <li><a href="#"><i class="fa fa-circle-o"></i> Widgets</a></li>
              </ul>
            </li>
            <li><a href="#"><i class="fa fa-pie-chart"></i><span>Charts</span></a></li>
            <li class="treeview"><a href="#"><i class="fa fa-edit"></i><span>Forms</span><i class="fa fa-angle-right"></i></a>
              <ul class="treeview-menu">
                <li><a href="#"><i class="fa fa-circle-o"></i> Form Components</a></li>
                <li><a href="#"><i class="fa fa-circle-o"></i> Custom Components</a></li>
                <li><a href="#"><i class="fa fa-circle-o"></i> Form Samples</a></li>
                <li><a href="#"><i class="fa fa-circle-o"></i> Form Notifications</a></li>
              </ul>
            </li>
            <li class="treeview"><a href="#"><i class="fa fa-th-list"></i><span>Tables</span><i class="fa fa-angle-right"></i></a>
              <ul class="treeview-menu">
                <li><a href="#"><i class="fa fa-circle-o"></i> Basic Tables</a></li>
                <li><a href="#"><i class="fa fa-circle-o"></i> Data Tables</a></li>
              </ul>
            </li>
            <li class="treeview"><a href="#"><i class="fa fa-file-text"></i><span>Pages</span><i class="fa fa-angle-right"></i></a>
              <ul class="treeview-menu">
                <li><a href="#"><i class="fa fa-circle-o"></i> Blank Page</a></li>
                <li><a href="#"><i class="fa fa-circle-o"></i> Login Page</a></li>
                <li><a href="#"><i class="fa fa-circle-o"></i> Lockscreen Page</a></li>
                <li><a href="#"><i class="fa fa-circle-o"></i> User Page</a></li>
                <li><a href="#"><i class="fa fa-circle-o"></i> Invoice Page</a></li>
                <li><a href="#"><i class="fa fa-circle-o"></i> Calendar Page</a></li>
                <li><a href="#"><i class="fa fa-circle-o"></i> Mailbox</a></li>
                <li><a href="#"><i class="fa fa-circle-o"></i> Error Page</a></li>
              </ul>
            </li>
			
            <li class="treeview active"><a href="#"><i class="fa fa-share"></i><span>Multilevel Menu</span><i class="fa fa-angle-right"></i></a>
              <ul class="treeview-menu menu-open" style="display: block;">
                <li><a href="#"><i class="fa fa-circle-o"></i> Level One</a></li>
                <li class="treeview"><a href="#"><i class="fa fa-circle-o"></i><span> Level One</span><i class="fa fa-angle-right"></i></a>
                  <ul class="treeview-menu">
                    <li><a href="#"><i class="fa fa-circle-o"></i> Level Two</a></li>
                    <li><a href="#"><i class="fa fa-circle-o"></i><span> Level Two</span></a></li>
                  </ul>
                </li>
              </ul>
            </li>
          </ul>
        </section><div class="slimScrollBar" style="background: rgba(0, 0, 0, 0.8); width: 3px; position: absolute; top: 0px; opacity: 0.4; display: none; border-radius: 7px; z-index: 99; right: 1px; height: 612px;"></div><div class="slimScrollRail" style="width: 3px; height: 100%; position: absolute; top: 0px; display: none; border-radius: 7px; background: rgb(51, 51, 51); opacity: 0.2; z-index: 90; right: 1px;"></div></div>
      </aside>
      <script src="../static/jquery-2.1.4.min.js"></script>
    <script src="../static/bootstrap.min.js"></script>
    <script src="../static/pace.min.js"></script>
    <script src="../static/main.js"></script>
    <script type="text/javascript" src="../static/chart.js"></script>
</body>
</html>